extends layout

block content
    h2.
        Atualizar Aluno
    form#formAddAluno(name="updatealuno",method="post",action="/updatealuno/#{aluno._id}",role="form")
        div.form-group
            input#inputId.form-control.inputhidden(type="text", name="id_aluno" , value="#{aluno._id}")
            label(for="nome") Nome: 
            input#inputNome.form-control(type="text", placeholder="", name="nome" value="#{aluno.nome}")
        div.form-group
            label(for="curso") Curso:
            select.form-control(name="curso")
                each cur in ["Administração","Arquitetura e Urbanismo","Artes Cênicas","Ciência da Computação","Ciências Biológicas","Ciências Contábeis","Comunicação Social - Publicidade e Propaganda","Design de Moda","Design de Produto (Desenho Industrial)","Direito","Educação Física (licenciatura e/ou bacharelado)","Enfermagem","Engenharia Ambiental","Engenharia Civil","Engenharia de Petróleo","Engenharia de Produção","Engenharia Elétrica","Engenharia Mecânica","Engenharia Química","Estética e Cosmética","Farmácia (Matutino)","Fisioterapia","Fonoaudiologia","Fotografia","Gastronomia","Geologia","Gestão de Recursos Humanos","Gestão Portuária","Jornalismo","Marketing","Medicina","Medicina Veterinária","Nutrição","Odontologia","Pedagogia","Psicologia","Relações Internacionais","Sistemas de informação"]
                    option(value="#{cur}" , selected=aluno.curso == cur) #{cur}
        div.form-group  
            label(for="turno") Turno: 
            select.form-control(name="turno")
                option(value="matutino" , selected=aluno.turno == "matutino") Matutino
                option(value="noturno" , selected=aluno.turno == "noturno") Noturno 
        div.form-group
            label(for="valor") Mensalidade: 
            input#inputValor.form-control(type="number", placeholder="", name="valor",min="0", value="#{aluno.valor}")
        div.form-group
            label(for="dia") Dia do pagamento:	
            input#inputDia.form-control(type="number", placeholder="", name="dia",min="0" max="31", value = "#{aluno.dia_pagamento}")
        p.form-group 
            label(for="dias") Clique nas celulas para seleciona-las.
                          table.table.table-bordered(data-toggle="table")
                              tbody
                                  tr
                                     td.active 
                                         p    Turno
                                     td.active 
                                         p    Seg
                                     td.active 
                                         p    Ter
                                     td.active 
                                         p    Qua
                                     td.active 
                                         p    Qui
                                     td.active 
                                         p    Sex
                                  tr
                                     td.active 
                                         p    Mat - Ida
                                     if aluno.horario.seg_manha_vai == "on"
                                         td.active.success 
                                             input(type="checkbox", name="d1_t1" class="ckDia" checked) 
                                     else
                                         td.active.danger 
                                             input(type="checkbox", name="d1_t1" class="ckDia" )
                                     if aluno.horario.ter_manha_vai == "on"
                                         td.active.success 
                                             input(type="checkbox", name="d2_t1" class="ckDia" checked) 
                                     else
                                         td.active.danger 
                                             input(type="checkbox", name="d2_t1" class="ckDia")
                                     if aluno.horario.qua_manha_vai == "on"
                                         td.active.success 
                                             input(type="checkbox", name="d3_t1" class="ckDia" checked) 
                                     else
                                         td.active.danger 
                                             input(type="checkbox", name="d3_t1" class="ckDia" )
                                     if aluno.horario.qui_manha_vai == "on"
                                         td.active.success 
                                             input(type="checkbox", name="d4_t1" class="ckDia" checked) 
                                     else
                                         td.active.danger 
                                             input(type="checkbox", name="d4_t1" class="ckDia" )  
                                     if aluno.horario.sex_manha_vai == "on"
                                         td.active.success 
                                             input(type="checkbox", name="d5_t1" class="ckDia" checked) 
                                     else
                                         td.active.danger 
                                             input(type="checkbox", name="d5_t1" class="ckDia" )
                                  tr
                                     td.active 
                                         p    Mat - Volta
                                     if aluno.horario.seg_manha_volta == "on"
                                         td.active.success 
                                             input(type="checkbox", name="d1_t2" class="ckDia" checked) 
                                     else
                                         td.active.danger 
                                             input(type="checkbox", name="d1_t2" class="ckDia" )
                                     if aluno.horario.ter_manha_volta == "on"
                                         td.active.success 
                                             input(type="checkbox", name="d2_t2" class="ckDia" checked) 
                                     else
                                         td.active.danger 
                                             input(type="checkbox", name="d2_t2" class="ckDia" )
                                     if aluno.horario.qua_manha_volta == "on"
                                         td.active.success 
                                             input(type="checkbox", name="d3_t2" class="ckDia" checked) 
                                     else
                                         td.active.danger 
                                             input(type="checkbox", name="d3_t2" class="ckDia" )
                                     if aluno.horario.qui_manha_volta == "on"
                                         td.active.success 
                                             input(type="checkbox", name="d4_t2" class="ckDia" checked) 
                                     else
                                         td.active.danger 
                                             input(type="checkbox", name="d4_t2" class="ckDia" )
                                     if aluno.horario.sex_manha_volta == "on"
                                         td.active.success 
                                             input(type="checkbox", name="d5_t2" class="ckDia" checked) 
                                     else
                                         td.active.danger 
                                             input(type="checkbox", name="d5_t2" class="ckDia" )
                                  tr
                                     td.active 
                                         p    Not - Ida
                                     if aluno.horario.seg_noite_vai == "on"
                                         td.active.success 
                                             input(type="checkbox", name="d1_t3" class="ckDia" checked) 
                                     else
                                         td.active.danger 
                                             input(type="checkbox", name="d1_t3" class="ckDia" )
                                     if aluno.horario.ter_noite_vai == "on"
                                         td.active.success 
                                             input(type="checkbox", name="d2_t3" class="ckDia" checked) 
                                     else
                                         td.active.danger 
                                             input(type="checkbox", name="d2_t3" class="ckDia" )
                                     if aluno.horario.qua_noite_vai == "on"
                                         td.active.success 
                                             input(type="checkbox", name="d3_t3" class="ckDia" checked) 
                                     else
                                         td.active.danger 
                                             input(type="checkbox", name="d3_t3" class="ckDia" )
                                     if aluno.horario.qui_noite_vai == "on"
                                         td.active.success 
                                             input(type="checkbox", name="d4_t3" class="ckDia" checked) 
                                     else
                                         td.active.danger 
                                             input(type="checkbox", name="d4_t3" class="ckDia" )
                                     if aluno.horario.sex_noite_vai == "on"
                                         td.active.success 
                                             input(type="checkbox", name="d5_t3" class="ckDia" checked) 
                                     else
                                         td.active.danger 
                                             input(type="checkbox", name="d5_t3" class="ckDia" )
                                  tr
                                     td.active 
                                         p    Not - Volta
                                     if aluno.horario.seg_noite_volta == "on"
                                         td.active.success 
                                             input(type="checkbox", name="d1_t4" class="ckDia" checked) 
                                     else
                                         td.active.danger 
                                             input(type="checkbox", name="d1_t4" class="ckDia" )
                                     if aluno.horario.ter_noite_volta == "on"
                                         td.active.success 
                                             input(type="checkbox", name="d2_t4" class="ckDia" checked) 
                                     else
                                         td.active.danger 
                                             input(type="checkbox", name="d2_t4" class="ckDia" )
                                     if aluno.horario.qua_noite_volta == "on"
                                         td.active.success 
                                             input(type="checkbox", name="d3_t4" class="ckDia" checked) 
                                     else
                                         td.active.danger 
                                             input(type="checkbox", name="d3_t4" class="ckDia" )
                                     if aluno.horario.qui_noite_volta == "on"
                                         td.active.success 
                                             input(type="checkbox", name="d4_t4" class="ckDia" checked) 
                                     else
                                         td.active.danger 
                                             input(type="checkbox", name="d4_t4" class="ckDia" )
                                     if aluno.horario.sex_noite_volta == "on"
                                         td.active.success 
                                             input(type="checkbox", name="d5_t4" class="ckDia" checked) 
                                     else
                                         td.active.danger 
                                             input(type="checkbox", name="d5_t4" class="ckDia" )
                                br
                         button#btnSubmit.btn.btn-default.fullwidth(type="submit") Atualizar
    script(src='/javascripts/scripts_personalizados.js')
    script(src='javascripts/bootstrap.min.js')
